body{
  background-color: rgb(212, 232, 161);
margin:0;
}

.navbar {
  background-color: rgba(51, 51, 51, 0.5); 
  overflow: hidden;
  padding: 20px;
  display:flex;
  justify-content: space-between;
}

.navbar a {
  float: right; 
  display: flex;
  color: white; 
  padding: 10px 16px; 
  text-decoration: none;
  transition: border 0.3s, color 0.3s; 
  border: 1px solid transparent; 
  margin: 0 10px; 
}

.navbar a:hover {
  color: #FCD53F; 
  border-color: #FCD53F; 
}

.home{
  align-self: center;
}

.wpcf7-form-control {
  background-color: transparent;
  border: 1px solid #424146;
  border-radius: 10px;
}









.contact-form-container {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.wp-block-contact-form-7-contact-form-selector {
max-width: 400px; 
/*width: 100%;*/
max-width: 50%;
}

.image-containers {
flex-shrink: 0;
max-width: 5%;
height: 20px;
max-width: 400px; 

}

.wpcf7 span.wpcf7-form-control-wrap::after {
content: '*';
color: #e74c3c;
}

.wpcf7 input[type="submit"] {
background-color: #363636; 
color: #fff; 
padding: 10px 20px;
border: none;
border-radius: 10px;
cursor:grab;
}

.wpcf7 input[type="submit"]:hover {
background-color: #FDD43E; 
}

.contact-form-first-part{
display: flex;
  max-width: 600px;
  width: 100%;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.contact-form-first-box{
display: block;
}






footer {
background-color: #424147;
color: #fff;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
padding: 30px 60px;
}

.column {
flex: 1;
margin-right: 20px;
margin-bottom: 20px;
}

.column:last-child {
margin-right: 0;
}


.links a {
display: block;
color: #fff;
text-decoration: none;
margin-bottom: 5px;
}

.image img {
width: 40px;
height: auto;
display: block;
}

.contact-info {
align-items: center;
}

.contact-info img {
width: 20px;
height: auto;
}