body {
  background-color: #AABFDF;
  padding: 0;
  margin: 0;
  font-family: "din-condensed", sans-serif;
}


/* <--- NAVBAR ---> */

.navbar {
  background-color: rgba(51, 51, 51, 0.7); 
  overflow: hidden;
  padding: 15px 20px; 
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
}

.navbar a {
  color: white;
  padding: 10px 16px; 
  text-decoration: none;
  transition: border 0.3s, color 0.3s;
  border: 1px solid transparent;
  margin: 0 10px;
}

.navbar a:hover {
  color: #FCD53F;
  border-color: #FCD53F;
}

a.home {
  margin-right: auto;

}



 /* <--- HERO SECTION ---> */

.hero-section {
  position: relative;
}

.image-container {
  position: relative;
  height: 100vh;
}

.hero-content {
  position: absolute;
  top: 60%;
  left: 24%; 
  transform: translate(-50%, -50%);
  text-align: left;
}

h1.hero-text {
  font-size: 150px; 
  margin-bottom: 10px;
  color: #fff;
}

p.hero-slogan {
  font-size: 100px; 
  color: #FDD43E;
}

.hero-content {
  max-width: 600px; /* Adjust the width as needed */
}

.hero-content h1 {
  font-size: 48px; /* Adjusted font size for smaller screens */
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px; /* Slightly increased font size for smaller screens */
  line-height: 1.5;
}


/* <--- ARITCLE MAIN PAGE ---> */
.article_main {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0; 
}

 

  
  
  /*.wpcf7-form-control {
    background-color: transparent;
    border: 1px solid #424146;
    border-radius: 10px;
  }
  
.contact-form-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.wp-block-contact-form-7-contact-form-selector {
  max-width: 400px; 
  
  max-width: 50%;
}

.image-containers {
  flex-shrink: 0;
  max-width: 5%;
  height: 20px;
  max-width: 400px; 

}

.wpcf7 span.wpcf7-form-control-wrap::after {
  content: '*';
  color: #e74c3c;
}

.wpcf7 input[type="submit"] {
  background-color: #363636; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor:grab;
}

.wpcf7 input[type="submit"]:hover {
  background-color: #FDD43E; 
}

.contact-form-first-part{
  display: flex;
    max-width: 600px;
    width: 100%;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    
}

.contact-form-first-box{
  display: block;
  
}
.contact-form.label{
  padding: 50px;
}*/





footer {
  background-color: #424147;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px 60px;
}

.column {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.column:last-child {
  margin-right: 0;
}


.links a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer_call_mail{
  display: flex;
}

.material-icons{
  margin-bottom:0px;
  padding-bottom:-20px;
}


/* .image img {
  width: 40px;
  height: auto;
  display: block;
} 
.contact-info {
  align-items: center;
}

.contact-info img {
  width: 20px;
  height: auto;
}






apply later when image is smaller

.contact-form-container {
  display: flex;
}

.image-container {
  flex: 1;
  max-width: 50%;
}

.contact-form{
  flex: 1;
  max-width: 50%;
}*/



.contact-form {
  max-width: 600px; 
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 10px;
  
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #424146;
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;
}

.contact-form select {
  appearance: none;
  padding: 10px;
}

.wpcf7 input[type="submit"] {
  background-color: #363636; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor:pointer;
} 

.wpcf7 input[type="submit"]:hover {
  background-color: #FDD43E;
}


@media (max-width: 600px) {
  .contact-form {
      max-width: 100%;
  }
}






/* producst and services page */

/* Call to action contact us */
.yellow_box {
  background-color: #FDD43E; 
  height: 15px;
}























/*.call_to_action_contact_us_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.call_to_action_contact_us_content_text {
  flex: 1;
  padding-right: 20px;
}

.call_to_action_contact_us_content_image {
  flex: 1;
  overflow: hidden;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.image-container {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 5px;
}


.call_to_action_contact_us
{
  background-color: #FDD43E;
}*/




/* <--- Media Queries ---> */

/* Media Query for tablets and mobiles */
@media (max-width: 768px) {
  body h1 {
    font-size: 2.5rem;
  }

  body h2 {
    font-size: 2.25rem;
  }

  body h3 {
    font-size: 1.5rem;
  }

  body p {
    font-size: 1.25rem;
  }

}

/* <--- BUTTONS --->  */
.button_yellow{
  display: inline-block;
  padding: 10px 20px;
  background-color: #FDD43E; 
  color: #000;
  text-decoration: none;
  border-radius: 10px;
}

.button_grey{
  display: inline-block;
  padding: 10px 20px;
  background-color: #363636; 
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
}






/* ADVANTISAGES TO CHOOSE US */
.advantisages_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
}


.advantisages_main_content_and_image{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.advantisages_main h2 {
  width: 100%;
  font-size: 24px;
  margin-bottom: 20px;
}

.advantisages_main_content {
  flex: 1;
  width:100%;
  margin-right: 20px;
}

.advantisages_main_content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.advantisages_main_image {
  flex: 1;
  /* max-width: 400px; */
}
